body {
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.caixa-botao {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.caixa-botao h1 {
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 2rem;
    color: black;
    padding: 15px 30px;
    border-radius: 40px;
    background-color: #2EC6FF;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    user-select: none;
    transition: transform 0.2s;
}

.caixa-botao h1:hover {
    cursor: pointer;
}

@media (width <= 768px) {
    body {
        background-image: url("../images/background-mobile.jpg");
        border: 3px solid black;
    }

    .caixa-botao h1 {
        font-size: 20px;
    }
}